.container {
  display: flex;
  flex-direction: column;
}

.container .header {
  padding: 1em;
  font-size: 1.5em;
  background-color: #ebebeb;
}

.container .body {
  display: flex;
  flex-direction: row;
}

.body .conteudo {
  margin: 20px;
  width: 100%;
}

::ng-deep .conteudo table {
  width: 100% !important;
}

.body .menu {
  min-width: 200px !important;
  display: flex;
  flex-direction: column;
}

::ng-deep .menu button{
  width: 100% !important;
  padding: 5px !important;
}




